<style>
p.serif {
    font-family: "Courier New", courier, monospace;
    max-width: 50em;
}
</style>

<p class="serif">

===============<br />
C-to-P Compiler<br />
===============<br />
<br />
----------------------------------------<br />
by Kristof De Middelaer and Jakob Struye<br />
----------------------------------------<br />

<br />
&nbsp;&nbsp;This is a compiler which translates source code written in a subset of C to instructions for a P stack machine. The Compiler is based on the ANTLR framework. A separate Abstract Syntax Tree and Symbol Table were designed as aids to generate the P code.<br />
<br />
1. The AST<br />
----------<br />
<br />
&nbsp;&nbsp;During initial generation, every rule in the grammar will get a node in the AST. Some additional information is already stored in the nodes. Afterwards, the tree will be further abstractified. In the first step, information regarding scopes is added to the nodes (see below) along with some other info in setInfo. Then the information is passed along the tree(e.g. a Defintion node gets a type from its Type node child) and superfluous nodes are marked for pruning. In the final step, the actual pruning occurs. Note that even non-leaf nodes can be &quot;pruned&quot; in this process.<br />
<br />
For the internal structure of the tree, we use the structure seen in the Compiler classes: each node has a parent, leftmost sibling, right sibling and leftmost child pointer.<br />
<br />
The AST can be visualized through a DOT file using the '-g' flag. Run ./c2p without any argument for more explanation.<br />
<br />
<br />
<br />
2. The Symbol Table<br />
-------------------<br />
<br />
&nbsp;&nbsp;The symbol table is filled in through actions in the grammar. We again used the structure as seen in the Compiler classes. Each entry consists of a name, attributes, a pointer to the next entry with the same name (var pointer), a pointer to the next entry in the same scope (level pointer), a location on the P store and a scope number along with some array-only info. Entries can be looked up both by name and scope number, two separate maps are used to achieve this.<br />
<br />
A separate map is maintained for function declarations. This way it's easier to avoid clashes between a function and a variable with the same name. As functions have no scope, the level pointer has been removed. Because we support argument overloading (see later), the var pointer been replaced by another pointer. This new pointer points to the next entry with the same function name but a different signature. This way it's easy to fetch all potential definitions for a function call. Furthermore return type and parameter types are saved explicitly in the symbol table. Note that only one map is maintained for functions as the entries have only one pointer.<br />
<br />
The Symbol Table can be printed in human-readable format through the '-s' flag.<br />
The symbol table will be printed in this format:<br \> &quot;[*name* *attributes* *location* *scope*]&quot;<br />
Each entry could be followed by &quot;level: *name*&quot;. This indicates the level pointer has been set to an entry with the given name.<br />
If the var pointer was set, that full entry will be printed right underneath and will be indented.<br />
Note that, apart from the mentioned var pointer structure, the table is printed in a random order.<br />
<br />
<br />
<br />
3. Scoping<br />
----------<br />
<br />
While initially parsing the file, a stack of scopes is maintained. Every time a statement creating a new scope is encountered (e.g. a compound statement {...}), a new, unique scope is pushed on the stack. While exiting such a statement, it is popped. These scopes are then added to the symbol table for every variable. During the first pass over the AST, the process is repeated and the scope stacks are added to the AST nodes. This way it's easy to see which symbol table entries are accessible by which Nodes.<br />
<br />
<br />
<br />
4. Tests<br />
--------<br />
<br />
&nbsp;&nbsp;A number of test source files is supplied in src/test/resources/sourceFiles. This includes the general test files as provided to us, and specific tests we wrote ourselves. The name indicates what kind of test it is (syn_ for syntactical, sem_ for semantical, code_ for code generation and bonus_ for bonus features) and what it tests specifically. Whether they're supposed to compile is indicated by their name in case of syn_ and sem_: &quot;*Good*.c&quot; files should compile,while &quot;*Bad*.c&quot; files shouldn't. Note that in general only one Good file is provided per part of the grammar or semantical analysis, along with multiple Bad files. As the parser halts on a errors, only one error can be tested per file. For each bonus feature, a test file showing the functionality is indicated below.<br />
<br />
To run all tests, simply execute 'mvn test'. Note that this will not execute the P code. To do this, manually compile the file (./c2p fileName) and run it with the P Machine.<br />
<br />
A Fibonacci calculating program was included in the root folder to show recursion works. This specific implementation was found online (allowed by author, license included in the file) and slightly modified. We saw no harm in this, as this is a very basic program any half decent programmer has already written many times before.<br />
<br />
<br />
<br />
5. Compilation and execution<br />
----------------------------<br />
<br />
&nbsp;&nbsp;To build the required c2p executable, simply run 'mvn install' in the project root folder. This will generate a c2p executable in the project root folder. Run it without arguments to see a list and explanation of possible/required arguments.<br />
<br />
Please note that on some systems, c2p might not be executable due the installed Java platform and its settings. If you experience this, try running it with <code>java -jar c2p</code>. On the lab computers, it works perfectly fine though.<br />
<br />
The Java source files were generated using ANTLR 4.3 instead of 4.4, as 4.3 is the latest version present in the Maven repositories.<br />
<br />
<br />
<br />
6. Mandatory features<br />
---------------------<br />
All mandatory features are fully implemented. The c2p command works. The types int, char and pointers to both are supported. Variables can be const, local or global and are handled correctly. All reserved words are recognized, all their features are implemented. Single line comments are supported. Printf and scanf work (including for char arrays). Functions can be forward declared, defined and called, even recursively. Basic types (including pointers) can be used as function params and returns. Return type consistency and function forward declaration consistency are checked. 1 dimension static arrays can be declared and accessed. Every semantical exception has a clear error message. Const variables are actually const.<br />
<br />
<br />
<br />
7. Bonus features<br />
-----------------<br />
<br />
&nbsp;&nbsp;Variables without initialiser are automatically initialised to 0<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;Any variable that is declared, be it int, char or pointer, is initialised to 0 as soon as it is declared.<br />
&nbsp;&nbsp;The zero value can be accessed and used. This is shown in bonus_autoInit.c.<br />
<br />
<br />
&nbsp;&nbsp;Error when calling undeclared functions<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;Whenever a user tries to call a function that is not declared, a semantical error will occur. The error message depends on whether no function with that name exists, or only ones with a different signature do.<br />
&nbsp;&nbsp;Both can be seen in bonus_undecl1/2/3.c.<br />
<br />
<br />
&nbsp;&nbsp;Presence of return statements in all branches of function<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;A function will always reach a return statement if one is present outside of any conditionals, or in all possible paths of a nest of if-else clauses. Returns in for or while loops are not considered here as reaching them is never guaranteed. If a non-void function with a missing return is detected, an exception is thrown. If the user only wants a warning, this can be set with the -r flag. Note that goto is ignored while checking this. This was implemented by letting every return notify their ancestors up to a function definition or conditional of their presence. If an 'else' is encountered, while its 'if' was already notified of a return statement, the return statement keeps notifying ancestors above the if-else. If any notify reaches the function definition, all branches have a return statement. <br />
This behaviour can be seen in bonus_returnAllBranchesBad1/2/3.c and bonus_returnAllBranchesGood.c<br />
<br />
<br />
&nbsp;&nbsp;Multidimensional arrays<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;Multidimensional arrays of arbitrary dimensions are supported. They are stored in row-major order. If the user tries to access an array element with the wrong dimensions, an exception is thrown.<br />
&nbsp;&nbsp;This can be seen in bonus_multidim.c and bonus_multidimBadDims.c.<br />
<br />
<br />
&nbsp;&nbsp;Switch statement<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;The switch statement is fully supported for integers and as an extra it is also fully supported for characters. The switch works as specified for C: a jump to the correct case is executed, after which regular control flow is resumed. This means the code might move on to a different case if no &quot;break&quot; statement was provided. Default cases are also supported.<br />
&nbsp;&nbsp;This can be seen in bonus_switchGood.c and bonus_switchBad1/2.c.<br />
<br />
<br />
&nbsp;&nbsp;Pointer arithmetic<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;Pointer arithmetic is possible. To achieve this any arithmetic operation of which either operand is a pointer, will result in a pointer. Allocation of variables is predictable, so pointer arithmetic could be used consistently even across different variables and locations could also be hardcoded.<br />
&nbsp;&nbsp;This is shown in bonus_pointerArith.c.<br />
<br />
<br />
&nbsp;&nbsp;Multiline comments<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;Multiline comments are possible along with the mandatory single line comments. Multiline comments can span any amount of lines or even partial lines and will not be parsed.<br />
&nbsp;&nbsp;This is shown in bonus_multiline.c.<br />
<br />
<br />
&nbsp;&nbsp;Goto<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;The goto operation is available. Labels and goto jumps are defined just like in regular C. It's up to the user to ensure labels are actually present.<br />
&nbsp;&nbsp;This can be seen in bonus_goto.c.<br />
<br />
<br />
&nbsp;&nbsp;Function parameter overloading<br />
&nbsp;&nbsp;-----<br />
&nbsp;&nbsp;It's possible to overload function arguments, just like in C++. For any one function name, any number of definitions can appear, as long as each has a unique signature. Number of parameters can also vary. Note that the return type should not vary.<br />
&nbsp;&nbsp;Also note that this is not compatible with forward declarations. If a function was overloaded, no version should be declared! If an overloaded function is called, its arguments will be evaluated to determine which should be called.<br />
&nbsp;&nbsp;This can be seen in bonus_paramterOverload.c.<br />
<br />
<br />
<br />
8. Optimizations<br />
----------------<br />
As an optimization, binary arithmetic operations of which both operands are constants, are evaualated at compile time. Note that any nesting of such operations will also be evaluated at compile time.<br />
An example can be seen by examining the code generated by optimization.c.<br />
<br />
<br />
<br />
9. Some notes on AST generation<br />
-------------------------------<br />
<br />
&nbsp;&nbsp;Our intention was to generate the AST solely through grammar actions. We designed an algorithm that allowed us to generate our AST by running an action before and after every rule. However, we ran into a specific ANTLR quirk here. We use ANTLR's support for direct left-recursion to write easy-to-understand grammar rules for left-associative arithmetic expressions. ANTLR requires that *nothing* precedes the recursive part of the rule, and this includes even actions. As a result our algorithm was unusable in combination with these left-recursive rules. We found a GitHub issue on this specific problem (https://github.com/antlr/antlr4/issues/565) where the developer of ANTLR recommended using a listener or visitor instead. We then converted our algorithm to work with a listener, as can be seen in ASTgenerator.java. This has no specific functions for any of the grammar rules; the same are used for every rule. Basically, this does the same as AST generation through actions, except for running after parsing instead of during. We tried to ensure nothing happens in AST generation that would not have been possible through actions. The only other option to get AST generation working would be to take out the left-recursion, but this would make our grammar substantially less readable and is thus not a desirable solution.
</p>
